@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,600;0,700;0,800;1,100;1,200;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,200&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    background-color: rgba(220, 220, 220, 0.39);
}
*:focus{
    outline: none;
}
:root{
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--blue-alt-color);
}
.page{
    min-height: 100vh;
    background-color: #f1f5f9;
}
ul{
    list-style: none;
    padding: 0;
}
.page .sidebar h3{
    position: relative;
    margin-top: 0;
    text-align: center;
    margin-bottom: 50px;
}
.page .sidebar{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.266);
position: relative;
width: 260px;
}
@media (max-width:767px) {
    .page .sidebar{
        width: 60px;
        padding: 10px;
    }
    .page .sidebar h3{
        font-size: 10px;
        margin-bottom: 15px;
    }
    .page .sidebar h3::before
    ,.page .sidebar h3::after{
        display: none;
    }
    .page .sidebar ul li a span{
        display: none;
    }
    
}
.page .sidebar h3::before{
    content: "";
    position: absolute;
    width: 90px;
    height: 2px;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.page .sidebar h3::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    left: 50%;
    bottom: -29px;
    border: 4px solid white;
    transform: translateX(-50%);
}
.page .sidebar ul li a{
   margin-bottom: 5px;
   transition: 0.3s;
}
.page .sidebar ul span{
    margin-left: 14px;
    display: block;
    font-size: 14px;
}
.page ul li .active{
    padding: 10px;
    background-color:#eee;
}
.page ul li a:hover{
    padding: 10px;
    background-color:#eee;
    border-radius: 6px;
}
.page .content{
    width: 100%;
    background-color: rgba(170, 170, 170, 0.034);
overflow: hidden;
}
.page .content .head {
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
padding: 15px;
}
.content .search{
position: relative;
}
.content .search input{
    border: none;
    font-size: 17px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}
.content .search input:focus{
    width: 210px;
}
.content .head .search input:focus::placeholder{
    opacity: 0;
}
.content .search i{
    position: absolute;
    left: 15px;
    top: 50%;
    font-weight: 900;
    transform: translateY(-50%);
    font-size: 14px;
    color: rgb(153, 153, 153);
}
.content .account {
position: relative;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.content .account i{
    padding-right: 15px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}
.content .account i::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.61);
    top: -5px;
    right:8px;

}
.content .account .image{
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}
.content .account img{
    width: 31px;
    border-radius: 50%;
    cursor: pointer;
    
}
@media (max-width:300px) {
    .content .search input{
        width: 100px;
    }
    .content .search input:focus{
        width: 100px;
    }
}
.page h1 {
margin: 20px 20px 40px;
}
.page h1::before
,.page h1::after{
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    bottom: -10px;
}
.page h1::before{
    background-color: white;
    width: 100px;
}
.page h1::after{
    background-color: black;
    width: 40px;
}
.page-plans{
    display: grid;
    margin: 15px;
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
    gap: 15px;
}
@media (max-width:767px) {
    .page-plans{
        gap: 10px;
        margin: 10px;
        grid-template-columns: minmax(250px,1fr);
    }
}
.page-plans .plan .head{
    padding: 20px;
    text-align: center;
    border: 3px solid white;
    display: block;
}
.page-plans .plan:nth-child(1) .head{
    background-color: var(--green-color);
    outline: 3px solid var(--green-color);
}
.page-plans .plan:nth-child(2) .head{
    background-color: var(--blue-color);
    outline: 3px solid var(--blue-color);
}
.page-plans .plan:nth-child(3) .head{
    background-color: var(--orange-color);
    outline: 3px solid var(--orange-color);
}
.page-plans .plan .head h2{
    margin: 0;
    color: white;
    font-size: 30px;
}
.page-plans .plan .head .price{
    color: white;
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}
.page-plans .plan .head span{
    position: absolute;
    left: -20px;
    top: -5px;
    font-size: 25px;
}
.page-plans .plan ul{
    position: relative;
}
.page-plans .plan ul li{
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.page-plans .plan ul li .yes{
    color: var(--green-color);
    margin-right: 10px;
    font-size: 18px;
}
.page-plans .plan ul li .no{
    color:#f44336;
    font-size: 18px;
    margin-right: 10px;
}
.page-plans .plan ul li .help{
    color: gray;
    position: absolute;
    right: 0;
    cursor: pointer;

}
.page-plans .plan a{
    color: white;
    width: fit-content;
    background-color: var(--green-color);
    display: block;
    font-size: 17px;
    padding: 7px 12px;
    border-radius: 6px;
}
.page-plans .plan:nth-child(2) a{
    background-color: var(--blue-color);
}
.page-plans .plan:nth-child(3) .foot{
    text-align: center;
    color: gray;
    font-size: 18px;
}